*{
  padding: 0;
  margin: 0;
}

/*navbar style*/

nav{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.brand{
    padding: 10px 5px;
    color: white;
}

.main-ul{
    position: relative;
}

.main-ul li{
    display: inline-block;
    height: 30px;
    padding: 10px 10px 0;
}

.main-ul li:hover{
    background-color: green;
}

.main-ul a:hover{
    color: white;
}

.main-ul li a{
    text-decoration: none;
}

.parent-li{
    padding-right: 10px;
    padding-left: 0 !important;
}

.sub-ul li{
    position: absolute;
    width: 52px;
}

.sub-ul li{
    background-color: blue;
    margin-top: 10px;
    padding-left: 0 !important;
    display: none;
}

.parent-li:hover .sub-ul li{
    display: block;
}


/*Sign in style*/
.form-container{
    margin-top: 10%;
}

.sign{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-bottom: 3em;
}

.sign h1{
    font-size: 30px;
}

.sign-input {
    margin: 3%;
}

.input{
    margin: 10px 0;
    height: 30px;
    border: 2px solid #00c4cc;
    border-radius: 5px;
}

.sign-submit input{
    padding: 10px 20px;
    border: 2px solid #00c4cc;
    border-radius: 5px;
    color: #00c4cc;
    background-color: #ffffff;
}


/*footer*/
.footer-container{
    background-color: #00c4cc;
    padding: 2em ;
    text-align: center;
}



   

